<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>
      <GigabitEthernet>
        <name>3</name>
        <description>Configured via external file</description>
        <ip>
          <address>
            <primary>
              <address>192.168.50.1</address>
              <mask>255.255.255.0</mask>
            </primary>
          </address>
        </ip>
        <no>
          <shutdown/>
        </no>
      </GigabitEthernet>
    </interface>
  </native>
</config>
